@use '../base';
@use '../color';

#display {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  // prevent scrolling
  overflow: hidden;

  // stack background and whole-container
  position: relative;

  color: color.$text-color-light;
  background: linear-gradient(to left top, color.$sky-color-light, color.$whitish-color-light);

  &.dark-mode {
    background-color: darkblue;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#whole-container {
  // size
  width: 95%;
  height: 100%;

  // position (stack on background)
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1em 0;
  z-index: 2;

  // flexbox-parent
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 0;
}

#upper-container {
  // flexbox-children
  flex-basis: content;

  // flexbox-parent
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  gap: 0;

  .flex-item {
    flex-basis: content;
  }
}

#lower-container {
  // size
  height: 100vh;

  // flexbox-parent
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  gap: 0;

  .flex-item-main {
    min-width: 60%;
    width: 100%;
    height: calc(100% - 2em);
    margin-top: 2em;
    margin-right: 2em;

    overflow-y: scroll;
  }

  .flex-item-menu {
    // size
    min-width: 10%;
    flex-shrink: 0;

    // position
    align-self: flex-end;
  }

  overflow: hidden;
}

#preference-icon-list {
  // flexbox-children
  flex-basis: content;

}
