.background-div {
  position: relative;

  .background-svg {
    position: absolute;
  }
  
  .cloud {
    position: absolute;

    &.cloud-big {
      top: 100px;
      animation: 480s infinite normal cloud;
    }

    &.cloud-medium {
      top: 100px;
      animation: 960s infinite normal cloud;
    }

    &.cloud-small {
      top: 150px;
      animation: 1000s infinite normal cloud;
    }
  }

  @keyframes cloud {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100vw);
    }
  }
}



