.background-div {
  position: relative;

  .background-svg {
    position: absolute;
  }
  
  .cloud {
    position: absolute;
  }
  
  .cloud-enter {
    left: -50vw;
  }
  .cloud-enter-active {
    left: 100vw;
    transition: left 240000ms;
  }
  .cloud-enter-done {
    left: 100vw;
  }
  .cloud-exit {
    display: none;
  }
  .cloud-exit-active {
    display: none;
  }
  .cloud-exit-done {
    display: none;
  }
}



