@use '../variable';
@use '../color';

.contents-container {
  box-shadow: inset 0 -3em 3em color.$whitish-color-light-half;
    &.dark-mode {
      box-shadow: inset 0 -3em 3em color.$black-like-color-dark-half;
    }
  
  padding: 2.5em;
  @media (max-width: variable.$responsive-sp-lteq) {
    padding: 0.5em;    
  }
}
