.menu-list {
  // size
  height: 100%;

  // flexbox-parent
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  gap: 0;

  .flex-item {
    
  }
}

.menu-option {
  display: block;

  // position
  margin: 0.25em 0;
  
  input {
    display: none;
  }

  label {
    // text-align
    display: block;   
    text-align: end;

    // color
    background-color: rgba($color: #BBB, $alpha: 0.2);

    padding: 0.25em 0.5em;

    user-select: none;
  }

  input:checked + label {
    background-color: rgba($color: #000, $alpha: 0.5);
  }
}
