.menu-list {
  // flexbox-parent
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 0;

  .flex-item {
    
  }
}