@use '../color';

.menu-list {
  // flexbox-parent
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
  gap: 0;
}

.menu-option {
  display: block;
  
  input {
    display: none;
  }

  label {
    // text-align
    display: block;   
    text-align: end;

    // color
    background-color: color.$whitish-color-light-half;

    padding: 0.5em 0.5em 0.5em 2em;

    user-select: none;

    &:hover {
      background-color: color.$whitish-color-light-quarter;
    }
  }

  input:checked + label {
    background-color: color.$whitish-color-light;
  }
}
