.preference-icon-list {
  margin: 0;
  padding: 0;

  .hamburger-menu-icon {
    @media (min-width: 1000px) {
      display: none;
    }
  }
}

.preference-icon-item {
  display: inline-block;
  list-style: none;
}

.preference-icon {
  // size
  width: 2em;
  height: 2em;

  // position
  margin-left: 0.5em;
}
