$text-color-light: #171A18;
$whitish-color-light: #E6F2EC;
$whitish-color-light-half: #E6F2EC80;
$whitish-color-light-quarter: #E6F2ECC0;
$sky-color-light: #5CE6E6;

$text-color-dark: #E6F2EC;
$black-like-color-dark: #171A18;
$black-like-color-dark-half: #171A1880;
$black-like-color-dark-quarter: #171A18C0;
$sky-color-dark: #205151;

$grey-like-color: rgba(115, 128, 121, 100);
$accent-color-bright: #E65CA1;
$accent-color-gloomy: #331424;
