@use './color';

// for cell
th, td {
  // position (cell)
  padding-bottom: 1em;
  padding-right: 1em;

  // position (text)
  text-align: left;
  vertical-align: top;

  // small text
  small {
    font-weight: 400;
    font-size: 0.8em;
  }
}

tr {
  tbody &:nth-of-type(odd) {
    background-color: color.$whitish-color-light-half;
    &.dark-mode {
      background-color: color.$black-like-color-dark-half;
    }
  }

  tbody &:hover {
    background-color: color.$whitish-color-light-quarter;
    &.dark-mode {
      background-color: color.$black-like-color-dark-quarter;
    }
  }
}

table {
  margin-bottom: 3em;

  // erase border
  border-collapse: collapse;
  border: none;

  // all tables have same layout
  table-layout: fixed;
  width: 100%;
}
